.grid {
    stroke: #D1AE54;
    stroke-width: 1px;
    fill: #D1AE54;
  }

  .arc {
    stroke:#D1AE54;
    fill: none;
  }
  
  .node {
    fill: #EBD8C1;
    stroke: #D1AE54;
    stroke-width: 1px;
  }
  
text {
    text-anchor: end;
    font-size: 12px;
    font-family: sans-serif;
    font-feature-settings: 'tnum';
    font-variant: tabular-nums;
    line-height: 1.5;
    fill: rgba(0, 0, 0, 0.65);
  }