@import '~antd/dist/antd.css';

.ant-menu, .ant-menu-left {
  border-right: none;
  background-color: #2f353a;
}

.ant-layout-sider {
  background-color: #2f353a;
}

.ant-layout-header {
 background-color:white;
}

.main-view-sider-logo {
  background-color: #fff;
}

.ant-layout {
  background-color: #e4e5e6;
}

.ant-menu {
  margin-top: 10px;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.trigger {
  vertical-align: middle;
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
