@import '~antd/dist/antd.css';

.ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none;
  /* background-color: #bdc3c7; */
}

.ant-layout-sider {
  /* background-color: #bdc3c7; */
}

.ant-layout-header {
 background-color:white;
}

.main-view-sider-logo {
  /* background-color: #3498db; */
}

.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
